<script src="~/dist/js/main.js?ver=@ConfigHelper.CurrentVersion()"></script>
@*<script type="text/x-template" id="loading-template">
    <div class="loading" v-if="show">
        <div class="sk-bounce">
            <div class="sk-bounce-dot"></div>
            <div class="sk-bounce-dot"></div>
        </div>
    </div>
</script>*@