@model SaltStackers.Application.ViewModels.Membership.Login
@{
    Layout = "";
    ViewData["Title"] = "Access Denied";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>SaltStackers</title>
    <style type="text/css">
        body {
            background-color: #34558b;
        }

        .content {
            background-color: rgba(255, 255, 255, .8);
            padding: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 400px;
        }

        .alert-danger ul {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="content text-center">
        <h1>Access Denied</h1>
    </div>
</body>
</html>