@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/robotobold.eot');
    src: url('../assets/fonts/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/robotolight.eot');
    src: url('../assets/fonts/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/robotoregular.eot');
    src: url('../assets/fonts/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/robotoregular.ttf') format('truetype');
}
