<div class="modal fade" id="users-modal" ref="usersModal" aria-labelledby="users-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="users-label">Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" v-on:click.prevent="openCustomerModal()">Add New User</button>
                <table class="table table-hover table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phoneNumber}}</td>
                            <td><button class="btn btn-sm btn-danger text-white" v-on:click.prevent="removeUser(user)">Remove</button></td>
                        </tr>
                        <tr v-if="users.length === 0">
                            <td colspan="4">There is no item</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>