body {
    color: #3F4254;
    background-image: url('../assets/images/login-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    .main-title {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .page-title {
        font-size: 0.8rem;
        font-weight: normal;
        color: #B5B5C3 !important;
    }

    .logo-wrapper {
        text-align: center;

        img {
            max-height: 250px !important;
        }
    }
}
