@import "_variables";

#file-manager {
    .sidebar {
        padding-top: 10px;
        padding-bottom: 10px;

        ul {
            padding-left: 15px;
            margin-bottom: 0;

            li {
                list-style: none;
                padding-top: 5px;
                padding-bottom: 5px;

                i.icon {
                    margin-right: 5px;
                    font-weight: 400;
                    color: $amber-800;

                    &:after {
                        @include icon("\f07b");
                    }

                    &.expand:after {
                        content: "\f07c";
                    }

                    &.leaf {
                        opacity: 0;
                    }
                }

                .directory-name, .icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main {
        padding: 10px;
        min-height: 40vh;
    }
}
