.release-notes {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 14px;
        margin-bottom: 10px;
        border-bottom: 1px solid $grey-200;
        padding-bottom: 5px;
    }

    h4 {
        font-size: 20px;
    }

    h6 {
        padding-top: 40px;
    }
}
