$default-font-size-ltr: 14;
$default-font-size-rtl: 13;

$sm: 576px;
$sm-max: 575.98px;

$md: 568px;
$md-max: 767.98px;

$lg: 992px;
$lg-max: 991.98px;

$xl: 1200px;
$xl-max: 1199.98px;

$direction: 'ltr' !default;
