@model SaltStackers.Application.ViewModels.Membership.ResetPassword
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    ViewData["Icon"] = Icon.User;
}

<div asp-validation-summary="All" class="alert alert-danger"></div>
<form asp-area="Membership" asp-controller="User" asp-action="ResetPassword" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="form-floating col-md-6 mb-3 mb-sm-0">
            <input asp-for="NewPassword" class="form-control" placeholder="NewPassword" />
            <label asp-for="NewPassword"></label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating col-md-6">
            <input asp-for="NewPasswordConfirm" class="form-control" placeholder="NewPasswordConfirm" />
            <label asp-for="NewPasswordConfirm"></label>
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@string.Format(Global.EditItem, Security.User)</button>
            <a asp-area="Membership" asp-controller="User" asp-action="Index" class="btn btn-outline-secondary">@Global.Cancel</a>
        </div>
    </div>
</form>