@model SaltStackers.Application.ViewModels.Membership.DeleteRole
@{
    ViewData["Title"] = string.Format(Global.DeleteItem, Security.Role);
    ViewData["Icon"] = Icon.Role;
}

<div asp-validation-summary="All" class="alert alert-danger"></div>
<form asp-area="Membership" asp-controller="Role" asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <p>@(Html.Raw(string.Format(Global.DeleteConfirm, Security.Role, Model.Name)))</p>
    <div class="row mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-sm btn-danger">@string.Format(Global.DeleteItem, Security.Role)</button>
            <a asp-area="Membership" asp-controller="Role" asp-action="Index" class="btn btn-sm btn-outline-secondary">@Global.Cancel</a>
        </div>
    </div>
</form>